# testing automation
tox>=2.6.0

# coding standards
hacking

# test coverage
coverage>=4.3.4
coveralls

# Docs Requirements
Sphinx<1.4.2
alabaster

# packaging
wheel

# testing
nose
oslotest
requests-mock
