[tvdb]

# From tvdbapi.opts
#

# API key from your TVDB account ENV['TVDB_API_KEY'] (string value)
#apikey = <None>

# Username from your TVDB account ENV['TVDB_USERNAME'] (string value)
#username = <None>

# Password from your TVDB account ENV['TVDB_PASSWORD'] (string value)
#userpass = <None>

# the url for thetvdb api service (string value)
#service_url = https://api-dev.thetvdb.com

# flag for validating ssl certs for service url (https) (boolean
# value)
#verify_ssl_certs = true

# flag for selecting first series from search results (boolean value)
#select_first = false

